//Color related Variables

$white-color: #fff;

$feature-heading-color: #888;
$step-number-color: #ddd;
$step-img-box-bg-color: #fae5d3;
$tag-bg-color-1: #51cf66;
$tag-bg-color-2: #94d82d;
$tag-bg-color-3: #ffe066;
$pricing-plan-strip-bg-color: #ffd43b;

$light-grey-color: #555;
$dark-grey-color: #333;

$subheading-color: #cf711f;

$btn-bg-color: #e67e22;
$btn-hover-color: #fdf2e9;

$testimonials-color: #6f6f6f;

$form-btn-bg-color: #45260a;
$form-color: #fdf2e9;
$form-input-placeholder-color: #aaa;

$footer-border-color: #eee;
$copyright-color: #767676;
